.offers-cards .card {
  color: var(--text-secondary-color);
  background-color: black;
  padding: 24px 16px;
  box-sizing: border-box;
  width: 312px;
  height: 288px;
  border-radius: 16px;
  text-align: center;
}

.offers-cards .card header {
  display: block;
  background-color: transparent;
  position: static;
}

.offers-cards .card header p{
  font-size: 20px;
  font-weight: var(--text-weight);
}

.offers-cards .card header h3 {
  font-size: 40px;
  font-weight: var(--title-weight);
  margin-top: 8px 0 0;
}

.offers-cards .card header span {
  font-size: 32px;
  margin-top: 24px;
  display: inline-block;
}